.Login {
    padding-top: 2.31rem;
    .Navigation__scrollLinks {
      padding: 0 8.9rem 0 65rem;
    }
    .Login__main {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-top: 6rem;
      img {
        margin-bottom: 3.75rem;
      }
  
      .Login__logIn {
        font-size: 2.5rem;
        margin-bottom: 2.4rem;
      }
      .Login__form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .Login__data {
          margin-bottom: 3rem;
          background: $color-base;
          display: flex;
          flex-direction: column;
          width: 24rem;
          height: 14rem;
          justify-content: center;
          padding: 0 5rem;
          .Login_input {
            border: none;
            border-bottom: solid 1px grey;
            background: $color-base;
            padding: 0.3rem 0;
          }
          label {
            display: flex;
            flex-direction: column;
            font-weight: 600;
            text-align: left;
            &:first-of-type {
              margin-bottom: 1.5rem;
            }
          }
        }
        .Login__btns {
          display: flex;
          width: 30rem;
          justify-content: space-between;
          input.btn {
            border: solid 1px black;
          }
          .btn {
            font-size: 1.1rem;
            border: none;
            flex-direction: column;
            font-weight: lighter;
            background-color: white;
            padding: 0.55rem 0.75rem;
            text-decoration: none;
            color: black;
            &:visited {
              color: black;
            }
          }
        }
      }
    }
  }
  .Login_error {
    border: none;
    background: $color-base;
    border: none;
    padding: 0.3rem 0;
    border-bottom: solid 1px red;
  }
  .Login_errorText {
    color: red;
    font-size: 0.8rem;
    padding-top: 0.2rem;
    height: 1.1rem;
  }
  