.Logout {
    padding-top: 2.31rem;
    .Navigation__scrollLinks {
      padding: 0 8.9rem 0 65rem;
    }
    .Logout__main {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding-top: 15rem;
      img {
        margin-bottom: 3.75rem;
        width: 20%;
       
      }
  
      .Logout__logIn {
        font-size: 2.5rem;
        margin-bottom: 2.4rem;
      }
  
      .btn {
        font-size: 1.1rem;
        border: solid black 1px;
        flex-direction: column;
        font-weight: lighter;
        background-color: white;
        padding: 0.55rem 0.75rem;
        text-decoration: none;
        &:visited {
          color: black;
        }
      }
    }
  }
  